html,
body, h1, p {
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-family: 'Poriet One', serif;
}
#landing{
    width: 100%;
    height: 100%;
    background:url('images/homepage-2.jpg') no-repeat;
    background-size: cover;
    margin-bottom: 30px;
  
}
#landing h1 {
    font-size: 100px;
    color:white;
    text-shadow: 4px 2px #000000;
    padding-top: 40px;
}
#landing p {
    font-size:25px;
}

.navbar-custom {
  background-color: #222222; 
  border-color: transparent;
}
.navbar-custom .navbar-brand {
  color: #ba7748; /*beige color*/
  font-family: 'Josefin Slab', serif; 
  /*edit this part! font-family*/
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #14703a;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #ba7748;
  border-color: #fbf7ee;
  font-family: 'Josefin Slab', serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #fed136;
}
.navbar-custom .nav li a {
  font-family: 'Josefin Slab', serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #189439;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #fed136;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #fec503;
}
@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 2em;
  }
}
#hook h1{
    font-size: 35px;
    color: white;
}
#hook{
    background:url('images/blurred-background.jpg') ;
    color:white;
}
#background{
  background-color: green;
}
#support{
  background-color: blue;
}
#contact{
  background-color: black;
}